.director {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    width: 1000px;
    background-color: beige;
}

.top {
    font-size: xx-large;
    font-weight: 800;
    margin-top: 20px;
}

.films {
    padding: 20px;
}